################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Ranet.PivotTable.MVC/bin
/Ranet.PivotTable.MVC/obj/Debug
/Ranet.PivotTable.MVC/obj/Release
/Ranet.PivotTable/Assets/Vendors
/Ranet.PivotTable/Assets/Templates
/Ranet.PivotTable/Assets/Analytics
