################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Ranet.PivotTable.MVC/bin
/Ranet.PivotTable.MVC/obj/Debug
