@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ranet OLAP</h1>
    <p class="lead">Ranet OLAP Pivot Table provides engineers with tools to create rich BI applications able to process and analyze multidimensional OLAP data.</p>
    <h2>Ranet OLAP HTML5</h2>
    <p class="lead">Next-generation pivot table for OLAP data. Built on HTML5, JavaScript, and AngularJS with Bootstrap support for responsive high-performance cross-platform applications.</p>
    <p><a href="http://galaktika-soft.com/ranet-olap/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HTML5 Online Demo</h2>
        <p>
            Utilize the power of jQuery/HTML5 for create high-performance responsive web-applications. The complete HTML & JavaScript, with AngularJS directives, Bootstrap support.
            <br/>In the demo example, always use the latest version of the component Ranet UI OLAP for HTML5.
        </p>
        <p><a class="btn btn-default" href="https://bi.galaktika-soft.com/js/RanetOlap/" target="_blank">View Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HTML PivotTable Control</h2>
        <p>Demonstration the integration between Ranet OLAP HTML5 PivotTable Control and ASP.NET MVC 5 App.</p>
        <p><a class="btn btn-default" href="@Url.Action("PivotTableControl", "RanetPivotTable")">View sample &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HTML PivotTable Plugin</h2>
        <p>Demonstration the integration between Ranet OLAP HTML5 PivotTable Plugin and ASP.NET MVC 5 App.</p>
        <p><a class="btn btn-default" href="@Url.Action("PivotTablePlugin", "RanetPivotTable")">View sample &raquo;</a></p>
    </div>
</div>