<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net451" />
  <package id="bootstrap" version="3.0.0" targetFramework="net451" />
  <package id="ClosedXML" version="0.76.0" targetFramework="net461" />
  <package id="ColorCode" version="1.0.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net461" />
  <package id="jQuery" version="1.10.2" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net461" />
  <package id="MarkupConverter" version="0.0.0" targetFramework="net461" />
  <package id="Microsoft.AnalysisServices" version="10.0.5500.0" targetFramework="net461" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="10.50.2500.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net461" />
  <package id="NLog" version="4.4.0-beta11" targetFramework="net451" />
  <package id="NLog.Web" version="4.2.1" targetFramework="net451" />
  <package id="Ranet.Analytics.PivotGrid" version="5.7.219" targetFramework="net461" />
  <package id="Ranet.Microsoft.AnalysisServices" version="14.0.1.439" targetFramework="net461" />
  <package id="Ranet.UILibrary.Olap" version="3.9.67" targetFramework="net461" />
  <package id="Ranet.ZipLib" version="1.0.1" targetFramework="net461" />
  <package id="Respond" version="1.2.0" targetFramework="net451" />
  <package id="WebGrease" version="1.5.2" targetFramework="net451" />
  <package id="xMetropol" version="0.0.104" targetFramework="net461" />
  <package id="xMetropol.Core" version="0.0.104" targetFramework="net461" />
  <package id="xMetropol.Platform" version="0.0.104" targetFramework="net461" />
  <package id="xMetropol.PresentationCore" version="0.0.104" targetFramework="net461" />
  <package id="xMetropol.Themes" version="0.0.104" targetFramework="net461" />
  <package id="xMetropol.UI" version="0.0.104" targetFramework="net461" />
  <package id="Zaaml" version="0.1.380" targetFramework="net461" />
  <package id="Zaaml.Core" version="0.1.380" targetFramework="net461" />
  <package id="Zaaml.Platform" version="0.1.380" targetFramework="net461" />
  <package id="Zaaml.PresentationCore" version="0.1.380" targetFramework="net461" />
  <package id="Zaaml.Themes" version="0.1.380" targetFramework="net461" />
  <package id="Zaaml.UI" version="0.1.380" targetFramework="net461" />
</packages>